%section-title{
    color: var(--title-text-color);
    font-family: Roboto;
    font-size: 36px;
    line-height: 1.17;
    
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0;
}

.product-title{
    text-decoration: none;
}
